.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.placehld-img {
  height: 75%;
  padding: 1rem 0;
}

.form-save {
  justify-content: right;
}

.justify-center {
  justify-content: center;
}

.new-button-section,
.entries-header {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .url-section,
  .title-section, {
    width: 50%;
  }

  .new-entry-h1 {
    padding-bottom: 1rem;
  }

  .entries-info {
    width: 50%;
  }
}
