.new-entry-h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

header {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.75rem;
  height: 100%;
  padding: 1rem;
}

.form-save > button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #552a80;
  color: white;
  border: none;
  margin-top: 1.5rem;
}

label {
  font-weight: 600;
  margin: 1rem 0;
}

.background-blviolet {
  background-color: #552a80;
}

.head-journal {
  color: white;
}

.bground-off-white {
  background-color: #f0f0f0;
}

.entries-info {
  line-height: 2rem;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0;
  padding-left: 5%;
}

.img-4-entries {
  padding: 1rem 0;
  margin: 0;
}

.entries-head-section {
  justify-content: space-between;
  align-self: center;
}

.entries-head-section > div {
  align-self: center;
  height: 100%;
}

.new-button {
  color: white;
  background-color: #552a80;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  justify-content: right;
  margin: auto;
  margin-right: 0;
  border-radius: 5px;
  border: none;
}

.object-contain {
  object-fit: contain;
}
